@font-face {
    font-family: "heading";
    src: url(./Bright\ Daylight.ttf);
}
@font-face {
    font-family: "service";
    src: url(./Snowberry\ Brush\ -\ Demo.otf);
}
@font-face {
    font-family: "cardservice";
    src: url(./Elegant\ Valentine.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    .header1{
        .nav{
            display: none;
        }
        .headleft{
            text-align: center;
            padding: 1rem;
            h1{
                font-size: 4rem;
                font-family: "heading";
                font-weight: 550;
                color: #171717;
            }
            p{
                // width: 320px;
                font-size: 1.3rem;
                color: #787A7C;
            }
            button {
                margin-top: 0.8rem;
                background-color: rgb(117, 210, 241);
                color: #000;
                border: none;
                padding: 0.8rem 1.4rem;
                border-radius: 30px;
                font-weight: 600;
                cursor: pointer;
                transition: all 0.3s ease;
                box-shadow: 0 4px 10px rgba(117, 210, 241, 0.4);
              
                &:hover {
                  background-color: #0ea5e9;
                  color: #fff;
                  transform: scale(1.05);
                  box-shadow: 0 6px 15px rgba(14, 165, 233, 0.5);
                }
              
                &:active {
                  transform: scale(0.97);
                }
            }              
        }
    }
    .header2{
        width: 100%;
        height: 24.4rem;
        background: linear-gradient(white , rgb(144, 220, 245));
        overflow: hidden;
        .head{
            display: flex;
            justify-content: space-between;
            padding: 1rem 1rem;
            // gap: 1rem;
            .nav1{
                img{
                    width: 60px;
                }
            }
            .nav2{
                display: none;
            }
            .nav2A{
                display: none;
            }
            .nav2a{
                display: none;
            }
            .nav3{
                i{
                    font-size: 1.4rem;
                }
            }
        }
        .foot{
            text-align: center;
            img{
                width: 200px;
            }
        }
    }
}
h2{
    text-align: center;
    font-family: "service";
    padding: 1rem;
}
.petservice{
    width: 100%;
    overflow-x:scroll ;
    display: flex;
    .service{
        padding: 1rem 2rem;
        display: flex;
        gap: 1rem;
        animation: spin 6s infinite linear;
        .cardservice{   
            width: 300px;
            height: 350px;
            flex-shrink: 0;
            .innercard img{
                width: 300px;
                height: 300px;
                object-fit: cover;
                border-radius: 50px;
            }
            h3{
                text-align: center;
                color: #171717;;
                font-family: "cardservice";
                font-size: 2rem;
                font-weight: 100;
            }
        }
    }
}
.petservice::-webkit-scrollbar{
    display: none;
}
@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}
.veterinarians{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    .doctor{ 
        h4{
            font-size: 0.7rem;
            text-align: center;
            font-family: "service";
            font-weight: 100;
            color: #171717;
            padding: 1rem 0;
        }
        img{
            margin-left: 1rem;
            width: 220px;
            height: 300px;
            object-fit: cover;
            border-radius: 50px;
            
        }
    }
    .line{
        p{
            color: #787A7C;
            padding: 1rem 0;
            text-align: center;
            font-size: 0.8rem;
            width: 270px;
        }
        button {
            margin-left: 20%;
            background-color: rgb(117, 210, 241);
            color: #000;
            border: none;
            padding: 0.8rem 1.4rem;
            border-radius: 30px;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease;
            box-shadow: 0 4px 10px rgba(117, 210, 241, 0.4);
            
            &:hover {
              background-color: #0ea5e9;
              color: #fff;
              transform: scale(1.05);
              box-shadow: 0 6px 15px rgba(14, 165, 233, 0.5);
            }
            
            &:active {
              transform: scale(0.97);
            }
        }             
    }
}
@media (max-width:200px) {
     header{
        .header1{
            .headleft{
                h1{
                    font-size: 2rem;
                }
                p{
                    font-size: 0.8rem;
                }
                button{
                    padding: 0.5rem 0.7rem;
                    font-size: 10px;
                }
            }
        }
        .header2{
            height: 19.7rem;
            .head{
                .nav3{
                    i{
                        font-size: 10px;
                    }
                }
            }
            .foot{
                img{
                    width: 150px;
                }
            }
        }
    }
    h2{
        font-size: 0.7rem;
    }
    .petservice{
        .service{
            .cardservice{
                width: 150px;
                height: 250px;
                .innercard img{
                    width: 150px;
                    height: 250px;
                }
            }
        }
    }
    .veterinarians{
           .doctor{
              h4{
                font-size: 0.5rem;
              }
              img{
                margin-left: 0.5rem;
                 width: 150px;
                 height: 250px;
              }
           }
           .line{
            P{
                width: 250px;
            }
            button{
                margin-left: 1rem;
                 padding: 0.5rem 0.7rem;
                    font-size: 10px;
            }
           }
    }
}
@media (min-width:500px) {
    header{
        .header2{
            height: 29.1rem;
            .nav3{
                i{
                    font-size: 5rem;
                }
            }
            .foot{
                img{
                    width: 250px;
                }
            }
        }
    }
    .veterinarians{
           .doctor{
              h4{
                font-size: 1.1rem;
              }
              img{
                margin-left: 0.5rem;
                 width: 400px;
                 height: 250px;
                 object-fit: cover;
              }
           }
           .line{
            P{
                width: 420px;
                font-size: 1.2rem;
            }
            button{
                margin-left: 25%;
            }
           }
    }
}
@media (min-width:722px) {
    header{
        flex-direction: row;
        background: linear-gradient(to right,white , rgb(144, 220, 245));
        height: 26.7rem;
        .header1{
            .nav{
                display: block;
                padding: 1rem;
                a img{
                    width: 80px;
                }
            }
            .headleft{
                // padding: 2rem;
                margin-left: 1.8rem;
            }
        }
        .header2{
            background: none;
            .head{
                .nav1{
                    display: none;
                }
                .nav2{
                    display: block;
                    // text-align: right;
                    a{
                        text-decoration: none;
                        color: #787A7C;
                        padding: 1rem;
                        font-size: 0.7rem;
                    }
                }
                .nav2a{
                    display: block;
                    a{
                        text-decoration: none;
                        color: #171717;
                        font-size: 0.6rem;
                    }
                }
                .nav3{
                    display: none;
                }
            }
        }
    }
    .veterinarians{
           .doctor{
              h4{
                font-size: 1.1rem;
              }
              img{
                margin-left: 0.5rem;
                width: 500px;
                height: 300px;
                
              }
           }
           .line{
            P{
                width: 450px;
                font-size: 1.5rem;
            }
           }
    }
}
@media (min-width:900px) {
    header{
        .header1{
            width: 40%;
        }
        .header2{
            width: 60%;
            .head{
                .nav2A {
                    display: block;
                    a{
                        padding: 0.5rem 1rem;
                        text-decoration: none;
                        color: #171717;
                        background-color: rgb(117, 210, 241);
                        border-radius: 50px;
                        font-size: 0.7rem;
                        box-shadow: 0 4px 10px rgba(117, 210, 241, 0.4);
                        
                        &:hover {
                            background-color: #0ea5e9;
                            color: #fff;
                            transform: scale(1.05);
                            box-shadow: 0 6px 15px rgba(14, 165, 233, 0.5);
                        }
            
                        &:active {
                          transform: scale(0.97);
                        }
                    }
                }
                .nav2a{
                    .user{
                        display: none;
                    }
                    a{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}