@font-face {
    font-family: "logo";
    src: url(./Book\ Writing.otf);
}
@font-face {
    font-family: "title";
    src: url(./KarmaFuture.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    background-color: black;
}
main .cur{
    height: 15px;
    width: 15px;
    background-color: aliceblue;
    mix-blend-mode: difference;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.2s;
}
header{
    width: 100%;
    height: 500px;
    /* background: conic-gradient(rgb(54, 106, 219),white,rgb(54, 106, 219)); */
    position: relative;
}
nav{
    width: 100%;
    background-color: #ffffff35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    /* position: fixed; */
}
.navleft h2{
    font-size: 30px;
    font-family: "logo";
    font-weight: 400;
    color: whitesmoke;
}
.navmid a{
    text-decoration: none;
    font-size: 20px;
    padding: 0 10px;
    color: whitesmoke;
    transition: all 0.3s linear;
}
/* .Events{
    padding: 0px 20px;
    background: linear-gradient(rgb(218, 46, 201),rgb(72, 26, 222));
    border-radius: 50px;
} */
.navmid a:hover{
    background: linear-gradient(rgb(218, 46, 201),rgb(72, 26, 222));
    border-radius: 50px;
}
.navright a{
    text-decoration: none;
    font-size: 25px;
    padding: 0 10px;
    color: #000;
    color: whitesmoke;
}
header h1{
    text-align: center;
    margin-top: 50px;
    font-size: 8rem;
    color: whitesmoke;
    font-family: "title";
    font-weight: 100;
}