*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}
html , body{
    width: 100%;
    height: 100%;
}
nav{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 140px;
    gap: 45px;
    position: fixed;
    z-index: 99;
}
nav img{
    height: 60px;
}
nav h4{
    text-transform: uppercase;
    font-weight: 500;
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
}
main{
    position: relative;
    background: rgba(0, 0, 0,0.37);
}
.page1{
    height: 100vh;
    width: 100%;
    background-color: red;
}