@font-face {
    font-family: "heading";
    src: url(./Bright\ Daylight.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    .header1{
        .nav{
            display: none;
        }
        .headleft{
            text-align: center;
            padding: 1rem;
            h1{
                font-size: 4rem;
                font-family: "heading";
                font-weight: 550;
                color: #171717;
            }
            p{
                // width: 320px;
                font-size: 1.3rem;
                color: #787A7C;
            }
            button {
                margin-top: 0.8rem;
                background-color: rgb(117, 210, 241);
                color: #000;
                border: none;
                padding: 0.8rem 1.4rem;
                border-radius: 30px;
                font-weight: 600;
                cursor: pointer;
                transition: all 0.3s ease;
                box-shadow: 0 4px 10px rgba(117, 210, 241, 0.4);
              
                &:hover {
                  background-color: #0ea5e9;
                  color: #fff;
                  transform: scale(1.05);
                  box-shadow: 0 6px 15px rgba(14, 165, 233, 0.5);
                }
              
                &:active {
                  transform: scale(0.97);
                }
            }              
        }
    }
    .header2{
        width: 100%;
        height: 25rem;
        background: linear-gradient(white , rgb(144, 220, 245));
        .head{
            display: flex;
            justify-content: space-between;
            padding: 1rem 1rem;
            .nav1{
                img{
                    width: 60px;
                }
            }
            .nav2{
                display: none;
            }
            .nav2a{
                display: none;
            }
            .nav3{
                i{
                    font-size: 1.4rem;
                }
            }
        }
        .foot{
            text-align: center;
            img{
                width: 200px;
            }
        }
    }
}
@media (max-width:200px) {
     header{
        .header2{
            height: 20.05rem;
            
            .foot{
                img{
                    width: 150px;
                }
            }
        }
    }
}
@media (min-width:500px) {
    header{
        .header2{
            height: 29.87rem;
            .nav3{
                i{
                    font-size: 5rem;
                }
            }
            .foot{
                img{
                    width: 250px;
                }
            }
        }
    }
}
@media (min-width:722px) {
    header{
        flex-direction: row;
        background: linear-gradient(to right,white , rgb(144, 220, 245));
        height: 27.55rem;
        .header1{
            .nav{
                display: block;
                padding: 1rem;
                a img{
                    width: 80px;
                }
            }
            .headleft{
                // padding: 2rem;
                margin-left: 1.8rem;
            }
        }
        .header2{
            background: none;
            .head{
                .nav1{
                    display: none;
                }
                .nav2{
                    display: block;
                    // text-align: right;
                    a{
                        text-decoration: none;
                        color: #787A7C;
                        padding: 1rem;
                        font-size: 0.7rem;
                    }
                }
                .nav2a{
                    display: block;
                    a{
                        text-decoration: none;
                        color: #171717;
                        font-size: 0.6rem;
                    }
                }
                .nav3{
                    display: none;
                }
            }
        }
    }
}